/* Variables */

.dropdown{
	width: 8em;
	float : left;
  margin: 0 -35px 0 10px; 
}
.dropdown dt a {
   display: block;
   height: 1.55em;
   width: 60%;
   border: 1px solid #ecf0f1;
   border-radius: 3px;
   text-decoration: none;
 }
 .dropdown dt a:hover, .dropdown dt a:active {
   border-color: #bdc3c7;
 }
 .dropdown dt span {
   display: block;
   padding: 0 0em;
   line-height: 1.5em;
   border-right: 1em solid transparent;
   cursor: pointer;
 }
 .dropdown dd {
   position: relative;
   padding: 0 0em;
   margin-left: 0px;
 }
 
 .dropdown dd ul {
   display: none;
   position: relative;
   padding-left:0px;
   top: -.5em;
   width: 60%;
   list-style: none;
   background: #fff none repeat scroll 0 0;
   border: 1px solid #bdc3c7;
   border-radius: 3px;
 }
 
 .dropdown dd ul li:first-child a:hover {
   border-radius: 1px 1px 0 0;
 }
 .dropdown dd ul li:last-child a:hover {
   border-radius: 0 0 1px 1px;
 }
 .dropdown dd li a {
   padding: 0 0em;
   line-height: 1.5em;
   text-decoration: none;
 }
 .dropdown dd li a:hover {
   background-color: #2ecc71;
   color: #fff;
   cursor: pointer;
 }

		

.selected{
	font-weight: 700;
}